In [5]:
###IMPORTING

In [7]:
import numpy as np
import pandas as pd

In [8]:
###DATA_PREPROCESSING

In [9]:
df = pd.read_csv('moviereviews.tsv', sep='\t')

In [10]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [12]:
#Removing White-Space from Data

blanks = []

for index, label, review in df.itertuples():
    if type(review) == str:
        if review.isspace():
            blanks.append(index)
            
df.drop(blanks, inplace=True)

In [14]:
df.dropna(inplace=True)

In [15]:
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [30]:
###SENTIMENT-ANALYSIS

In [33]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [34]:
df['senti_scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
df.head()

,label,review,senti_scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [38]:
df['compound_scores'] = df['senti_scores'].apply(lambda scores: scores['compound'])
df.head()

,label,review,senti_scores,compound_scores,compound,compound_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,-0.9125,-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,-0.8618,-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,0.9951,0.9951
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,0.9972,0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,-0.2484,-0.2484

In [45]:
df['compound_label'] = df['compound_scores'].apply(lambda score: 'pos' if score >= 0 else 'neg')
df.head()

,label,review,senti_scores,compound_scores,compound_label
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [46]:
###CONFUSION_MATRIX-AND-ACCURACY

In [47]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [52]:
print(accuracy_score(df['label'], df['compound_label']))

0.6357069143446853

In [51]:
print(classification_report(df['label'], df['compound_label']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [56]:
pd.DataFrame(confusion_matrix(df['label'], df['compound_label']), index=['neg', 'pos'], columns=['neg', 'pos'])

     neg  pos
neg  427  542
pos  164  805